# Set to "false" to use real GenLayer contract instead of mock data
NEXT_PUBLIC_USE_MOCK=false

# GenLayer contract address
NEXT_PUBLIC_CONTRACT_ADDRESS=0x2440E7C1117Fe12FE711F6e5001202A247a49a50

# GenLayer Studionet RPC endpoint
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
