# Set to "false" to use real GenLayer contract instead of mock data
NEXT_PUBLIC_USE_MOCK=false

# GenLayer contract address
NEXT_PUBLIC_CONTRACT_ADDRESS=0x2d7741CDd170E9994aDF14FE5C30DBDa51E9b39B

# GenLayer Studionet RPC endpoint
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
